.footer{
  padding: 60px 0;

  background-color: #2F303A;
  line-height: 1.71;

  &__container{
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px){
      justify-content: space-between;
      text-align: left;
    }
  }

  &__contact{
    display: flex;
    flex-direction: column;
  }

  &__adress{
    margin-bottom: 9px;
    color: var(--white);
    font-style: normal;
  }

  &__social{
    margin: 60px 0;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__text{
    margin: 15px 0 20px 0;
  
    font-size: 14px;
    line-height: 0.87;
    text-transform: uppercase;
    color: var(--white);
  }

  &__list{
    display: inline-flex;
    list-style: none;
  }

  &__item:not(:last-child){
    margin-right: 10px;
  }

  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--white);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--ms) var(--cubik);

    &:hover,
    &:focus{
      background-color: var(--text-accent);
    }
  }

  &__form{
    margin-top: 15px;
    // margin-left: auto;

    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }

    @media screen and (min-width: 1200px){
      margin-top: 15px;
    }
  }
}