.form{
  // display: flex;
  // align-items: flex-end;

  // &__right{
  //   margin-right: 12px;
  // }

  &__title{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--white);
  }

  &__input{
    // min-width: 358px;
    margin-top: 20px;
    padding: 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    font-size: 16px;
    line-height: calc(20 / 16);
    outline: none;
    color: var(--text-accent);

    &:focus-visible{
      border-color: var(--text-accent);
    }
  }

  &__left{
    display: flex;
    justify-content: center;
  }

  &__btn{
    display: flex;
    align-items: center;
    padding: 10px 29px;
    border: 1px solid transparent;
    margin-top: 20px;
  
    line-height: calc(30 / 16);
    text-align: center;

    &:hover,
    &:focus{
      border: 1px solid var(--text-accent);
    }
  }

  &__icon{
    margin-left: 10px;
    fill: var(--white);
    transition: fill var(--ms) var(--cubik);
  }

  &:hover &__icon,
  &:focus &__icon{
    fill: var(--text-accent);
  }
}