:root{
  --text-color: #757575;
  --title-text: #212121;
  --text-accent: #2196F3;
  --white: #ffffff;
  --icon: #AFB1B8;
  --same-bg: #F5F4FA;
  --filter-card: #EEEEEE;
  --hero-bg: #2F303A;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --ms: 250ms;
}
